<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EcoManagementEntities" connectionString="metadata=res://*/EcoManagement.csdl|res://*/EcoManagement.ssdl|res://*/EcoManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RUMPINHO\DEVELOPMENT;Initial Catalog=EcoManagement;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>